* {
  margin-top: 0;
  padding-top: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slideout-menu {
  position: fixed;
  margin-top: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  margin-top: 60px;
  z-index: 1;
  background-color: #EEEEEE;
  box-shadow: -2px 0px 6px grey;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-menu ul {
  margin: 0;
  padding: 0;
}

.slideout-menu ul li {
  width: inherit;
  height: 30px;
  padding: 10px;
  line-height: 30px;
  vertical-align: middle;
}

.slideout-menu ul li:hover {
  background-color: #EEEEEE;
}

span.list-name {
  display: inline-block;
  height: 50px;
  margin-left: 15px;
  line-height 50px;
  vertical-align: middle;
}

a.menu-list {
  display: block;
  width: inherit;
  height: inherit;
  line-height 30px;
  vertical-align: middle;
}

#top_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  z-index: 999;
  box-shadow: 0px 2px 6px grey;
  background-color: #ABF200;
}

.toggle-button {
  width: 120px;
  height: 40px;
  padding: 10px;
  padding-right: 12px;
}

.toggle-button:hover {
  background-color: #75BC00;
}

.container {
  padding: 10px;
}

li {
  list-style:none;
}

li a {
  text-decoration: none;
  color: #5E5E5E;
}
